<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{title}}</title>
</head>
<body>
<header>
</header>
<!-- Begin page content -->
<main role="main" class="container">
    <h1>Nostalgy</h1>
<h2>{{item.name}} {{item.surname}}</h2>
<h3>hometown {{item.city_from}}</h3>
<img class="d-block w-100" text-align="center" src={{img}} width='450' height="450">
</main>
</body>
</html>